<%- include('partials/_header') -%>

<body>

  <%- include('partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= post.title %></h1>
            <h2 class="subheading"><%= post.detail.substring(0,25) %> ...</h2>
            <span class="meta">Posted by
              <a href="#">Jane Doe</a>
              <%= post.dateCreated %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          
          <p> <%= post.detail %> </p>
          
          <a href="#">
            <img class="img-fluid" src="img/post-sample-image.jpg" alt="">
          </a>
          <!-- <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span> -->

          <!-- <p>Placeholder text by
            <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p> -->
        </div>
        <div class="tm-bg-gray tm-share-box">
          <div class="text-center">
            <a href="/posts/edit/<%= post._id %>" class="btn btn-primary p-3 mb-4 tm-btn-animate tm-btn-check tm-icon-check"><span>Update Post</span></a>	
          </div>	
          <div class="text-center">
            <a href="/posts/<%= post._id %>?_method=DELETE" class="btn btn-danger p-3 tm-btn-animate tm-btn-eraser tm-icon-eraser"
              
            onclick="return confirm('Are you sure?')"><span>Delete Post</span></a>	
          </div>								
        </div>

      </div>
    </div>
  </article>

  <hr>

  <%- include('partials/_footer') -%>


</body>

</html>
